---
import Base from "@/layouts/Base.astro";
import { getAllPostsIds } from "@/api/wp-queries/get-all-posts-ids";

const { posts } = await getAllPostsIds();
---

<Base>
	<ul>
		{
			posts.nodes.map(({ title, id }) => (
				<li>
					<a href={`http://localhost:4321/posts/${id}`}>{title}</a>
				</li>
			))
		}
	</ul>
</Base>
